.block {
    
}
.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 40px;
    margin-bottom: 21px;
}
.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #3B434E;
    margin-top: 10px;
}

.descr {
    border-left: 1px solid #D2D2D2;
    margin-left: 24px;
    padding-left: 66px;
}