.btn {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.primary {
    background-color: #7653FC;
    color: white;
    border: 1px solid #FFFFFF;
    &:hover {
        background-color: #4528b9;
    }
    svg {
        fill: white;
    }
}
.ghost {
    background: none;
    color:#3B434E;
    border: 1px solid #EBEBEB;
    margin-left: 10px;
    &:hover {
        background-color: #7653FC;
        color:white;
        svg {
            fill: white;
        }
    }
    svg {
        fill: #3B434E;
    }
}

.arrow {
    display: inline-block;

    margin-left: 10px;
    transition: all .2s;
}

.down {
    transform: rotate(90deg);
}